/*General css*/
body {
    background-color: #f2f6f8;
    color:#454F5B;
}

h3.text-center {
    margin: 10%;
}
h1{
  color:#202E78;
  font-size: 30px;
}
a:hover {
    text-decoration: none !important;
}

/*Copy item*/
.copied {
  position: absolute;
  background: #1266ae;
  color: #fff;
  font-weight: bold;
  z-index: 99;
  width: 100%;
  top: 3px;
  text-align: center;
  padding: 2px;
  display: none;
  font-size: 18px;
}

.xmlurllink{
    font-size:10px;
}

.container-copy{
    position:relative;
}
.container-copy img{
  position: absolute;
  left: 149px;
  top: 17%;
}
/*Forms */
.form-availability button{
    padding: 4px 63px;
    margin-left: 7px;
    border-radius: 4px !important;
}
.copy-text{
    background-color: #581C95!important
}
 /*Butoons*/
.mw-b{
    min-width:116px;
}
/*Sections*/
.section-container {
    padding: 60px 0 0 0;
}

/*Images*/
.all-apps img{
    margin:0 auto;
    max-width:100px;
    margin: 0 40px 10px 0;
}
.icon-programmer{
  max-width: 600px;
  width:100%;
}
 /*Icons*/
 .icon-heart:before {
  content: "\e9da";
}
